<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home_Media_Application_Dev</title>
</head>
<body id="container">
    <div id="sub-container">
        <div id="cover">
            <img src="/assets/photos/cover/<%= coverImageName %>" alt="Dynamic Image">
        </div>

        <form action="/" method="GET">
            <input type="text" name="searchTerm" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <h1>Image Gallery</h1>
        <% if (folderContents) { %>
            <% folderContents.forEach(function(folder) { %>
                <div class="year-block">
                    <h2><%= folder.year %></h2>
                    <div class="images">
                        <% folder.contents.forEach(function(image) { %>
                            <img class="" src="/assets/photos/pictures/<%= folder.year %>/<%= image %>" alt="<%= image %>">
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No images to display.</p>
        <% } %>
    </div>

</body>
</html>



