<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home_Media_Application_Dev</title>
</head>
<body id="container">
        <div class="cover">
            <img class="cover__image" src="/assets/photos/cover/<%= coverImageName %>" alt="Dynamic Image">
        </div>

        <form action="/" method="GET">
            <input type="text" name="searchTerm" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

        <div class="gallery">
            <h1>Image Gallery</h1>
                <% if (folderContents) { %>
                    <% folderContents.forEach(function(folder) { %>
                        <div class="gallery__row">
                            <h2 class="gallery__date"><%= folder.year %></h2>
                            <div class="gallery__images">
                                <% folder.contents.forEach(function(image) { %>
                                    <img class="gallery__image" src="/assets/photos/pictures/<%= folder.year %>/<%= image %>" alt="<%= image %>">
                                    <div class="gallery__image--hidden"></div>
                                <% }); %>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>No images to display.</p>
                <% } %>
        </div>


</body>
</html>



